.events-section{
    margin-top: 64px;
}


.single-cat .cat-img {
    border-radius: 5px 5px 0 0;
}
.single-cat .cat-img img {
    width: 100%;
}
.single-cat .cat-cap {
    border-radius: 0 0 5px 5px;
    padding: 30px 20px 30px 23px;
    box-shadow: 0 10px 15px rgb(0 9 94 / 6%);
}
.single-cat .cat-cap .pricing .price {
    font-size: 22px;
    font-weight: 700;
    color: #7ea0ff;
    line-height: 1;
}
.date {
    font-size: 22px;
    font-weight: 500;
    color: #7ea0ff;
    line-height: 1;
}
.price {
    font-size: 22px;
    font-weight: 700;
    color: #14bea2;
    line-height: 1;
}
.container>span{
    color: #7ea0ff;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 10px;
    text-transform: capitalize;
    display: block;
    letter-spacing: .05em;
    text-align: center;
}
.mb-45 {
    margin-bottom: 45px;
}
.heading{
    text-align: center;
}
.sub-heading{
    text-align: center;
}

h2{
    font-size: 40px;
    display: block;
    font-weight: 700;
    line-height: 1.4;
    margin-bottom: 22px;
    font-family: "Josefin Sans",sans-serif;
    color: #00095e;
    font-style: normal;

}

h3{
    font-family: "Josefin Sans",sans-serif;
    color: #00095e;
    margin-top: 0;
    font-style: normal;
    font-weight: 500;
}
.justify-content-between {
    -ms-flex-pack: justify!important;
    justify-content: space-between!important;
}
.justify-center{
    justify-content: center;
}
.d-flex {
    display: -ms-flexbox!important;
    display: flex!important;
}
.fa-arrow-right{
    padding: 5px 25px;
    font-weight: 900;
    border-radius: 4px;
    background-color: #c2cef2;
    color: white;
    margin-right: 3px;
}
.fa-shopping-cart{
    padding: 5px 25px;
    font-weight: 900;
    border-radius: 4px;
    background-color: #4567c4;
    color: white;
}

@media only screen and (max-width: 468px){
.content-event {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}
}