.contactText
     {
        color: rgb(0, 0, 0);
        margin-bottom: 120px;
        margin-top: 100px;
    }

    .origins_article {
        font-family: Udemy Sans,SF Pro Text,-apple-system,BlinkMacSystemFont,Roboto,Segoe UI,Helvetica,Arial,sans-serif;
        font-size: 19px;
        line-height: 140%;
        text-align: center;
        margin: 0 264px 64px 264px;

    }
